version: 2

project_name: {{.Name}}

before:
  hooks:
    - go mod tidy
    - go test ./...

builds:
  - id: {{.Name}}
    main: .
    binary: {{.Name}}
    env:
      - CGO_ENABLED=0
    flags:
      - -trimpath
    goos:
      - darwin
      - linux
    goarch:
      - amd64
      - arm64
    ldflags:
      - -s -w

archives:
  - id: default
    formats: tar.gz
    files:
      - README.md

checksum:
  name_template: "checksums.txt"

release:
  prerelease: auto
